# Segredos
.env

# Virtualenv
.venv/
venv/
env/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE / SO
.idea/
.DS_Store
Thumbs.db

*.sqlite
*.db
*.csv
!data/gold/*.csv

app/database/data/*.csv
app/database/mock_gold.sqlite
test_report.json
test_suite/test_report.json